---
import { CollectionEntry, getCollection } from "astro:content";

import BaseLayout from "../../layouts/BaseLayout.astro";

import ContactCTA from "../../components/ContactCTA.astro";
import Hero from "../../components/Hero.astro";
import Icon from "../../components/Icon.astro";
import Pill from "../../components/Pill.astro";
import Grid from "../../components/Grid.astro";

interface Props {
    entry: CollectionEntry<"work">;
}

// This is a dynamic route that generates a page for every Markdown file in src/content/
// Read more about dynamic routes and this `getStaticPaths` function in the Astro docs:
// https://docs.astro.build/en/core-concepts/routing/#dynamic-routes
export async function getStaticPaths() {
    const work = await getCollection("work");
    return work.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<BaseLayout title={entry.data.title} description={entry.data.description}>
    <div class="stack gap-20 w-screen">
        <div class="gap-15">
            <header>
                <div class="wrapper stack gap-2">
                    <a class="back-link" href="/work/"
                        ><Icon icon="arrow-left" /> Work</a
                    >
                    <Hero title={entry.data.title} align="start">
                        <div class="details">
                            <div class="tags">
                                {
                                    entry.data.tags.map((t: string) => (
                                        <Pill>{t}</Pill>
                                    ))
                                }
                            </div>
                            <p class="description">{entry.data.description}</p>
                        </div>
                    </Hero>
                </div>
            </header>
        </div>

    <div class="content">
        <div>
            <div class="carousel">
                <ul class="slides">
                    <input
                        type="radio"
                        name="radio-buttons"
                        id="img-1"
                        checked
                    />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src={entry.data.img || null} />
                        </div>
                        <div class="carousel-controls">
                            <label for="img-4" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-2" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-2" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src={entry.data.img_2 || null} />
                        </div>
                        <div class="carousel-controls">
                            <label for="img-1" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-3" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-3" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src={entry.data.img_3 || null} />
                        </div>
                        <div class="carousel-controls">
                            <label for="img-2" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-4" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <input type="radio" name="radio-buttons" id="img-4" />
                    <li class="slide-container">
                        <div class="slide-image">
                            <img src={entry.data.img_4 || null} />
                        </div>
                        <div class="carousel-controls">
                            <label for="img-3" class="prev-slide">
                                <span>&lsaquo;</span>
                            </label>
                            <label for="img-1" class="next-slide">
                                <span>&rsaquo;</span>
                            </label>
                        </div>
                    </li>
                    <div class="carousel-dots sm:hidden">
                        <label for="img-1" class="carousel-dot" id="img-dot-1"
                        ></label>
                        <label for="img-2" class="carousel-dot" id="img-dot-2"
                        ></label>
                        <label for="img-3" class="carousel-dot" id="img-dot-3"
                        ></label>
                        <label for="img-4" class="carousel-dot" id="img-dot-4"
                        ></label>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</BaseLayout>

<ContactCTA />

<style>
    .carousel {
        margin-left: 15%;
        margin-right: 15%;
    }

    ul.slides {
        display: flex;
        position: relative;
        height: 600px;
        margin: 0;
        padding: 0;
        overflow: hidden;
        list-style: none;
    }

    .slides * {
        user-select: none;
        -ms-user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -webkit-touch-callout: none;
    }

    ul.slides input {
        display: none;
    }

    .slide-container {
        display: block;
    }

    .slide-image {
        display: flex;
        position: absolute;
  margin-top: auto;
  margin-bottom: auto;
        top: 0;
        opacity: 0;
        transition: all 0.7s ease-in-out;
    }

    .slide-image img {
        width: auto;
        min-width: 100%;
        height: 100%;
    }

    	.tags {
		display: flex;
		gap: 0.5rem;
	}


    .carousel-controls {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
        font-size: 100px;
        line-height: 600px;
        color: #fff;
    }

    .carousel-controls label {
        display: none;
        position: absolute;
        padding: 0 20px;
        opacity: 0;
        transition: opacity 0.2s;
        cursor:pointer;
    }

    .slide-image:hover + .carousel-controls label {
        opacity: 0.5;
    }

    .carousel-controls label:hover {
        opacity: 1;
    }

    .carousel-controls .prev-slide {
        width: 49%;
        text-align: left;
        left: 0;
    }

    .carousel-controls .next-slide {
        width: 49%;
        text-align: right;
        right: 0;
    }

    .carousel-dots {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        z-index: 999;
        text-align: center;
    }

    .carousel-dots .carousel-dot {
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #fff;
        opacity: 0.1;
        margin: 10px;
    }

    input:checked + .slide-container .slide-image {
        opacity: 1;
        transform: scale(1);
        transition: opacity 1s ease-in-out;
    }

    input:checked + .slide-container .carousel-controls label {
        display: block;
    }

    input#img-1:checked ~ .carousel-dots label#img-dot-1,
    input#img-2:checked ~ .carousel-dots label#img-dot-2,
    input#img-3:checked ~ .carousel-dots label#img-dot-3,
    input#img-4:checked ~ .carousel-dots label#img-dot-4,
    input#img-5:checked ~ .carousel-dots label#img-dot-5,
    input#img-6:checked ~ .carousel-dots label#img-dot-6 {
        opacity: 0.5;
    }

    input:checked + .slide-container .nav label {
        display: block;
    }
</style>
